* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* YourCard.css */
.card-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	/* White background */
	opacity: 0;
	transition: opacity 0.3s ease;
	padding: 10px;
}

.card:hover .card-overlay {
	opacity: 1;
}

.icon {
	color: white;
	background-color: black;
	/* Black background */
	border-radius: none;
	/* Rounded corners to make it a circle */
	padding: 10px;
	/* Adjust padding as needed */
	font-size: 36px;
	margin: 0 10px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	/* Add transitions for background and color */
}

.icon:hover {
	background-color: white;
	/* White background when hovered */
	color: black;
	/* Black icon color when hovered */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {

	font-family: 'Montserrat', sans-serif
}

.card {
	border: none
}

.logo {
	background-color: #eeeeeea8
}

.totals tr td {
	font-size: 13px
}

.footer {
	background-color: #eeeeeea8
}

.footer span {
	font-size: 12px
}

.product-qty span {
	font-size: 12px;
	color: gray
}

.gradient-custom {
	/* fallback for old browsers */
	background: #f6d365;
  
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }